In [16]:
"""
None : 
"""

import pandas as pd
import numpy as np

# None obhects as missing values
arr1 = np.array([1,None,3,4]) #dtype: object
arr2 = np.array([1,2,3,4]) #dtype: int32
arr2.dtype

dtype('int32')

In [6]:
# None값 있는 채로 연산 불가능
arr1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [9]:
"""
NaN : Missing Numerical Data
dtype이 float으로 설정(np.nan이 float)
"""
arr3 = np.array([1,np.nan,3,4])
arr3.dtype

dtype('float64')

In [13]:
np.sum(arr3) #nan값 계산결과는 nan

nan

In [14]:
np.nansum(arr3) #nan값 무시하고 나머지 값 집계

8.0

In [21]:
# NaNPandas
ser = pd.Series([1,np.nan,True,None])
ser

0       1
1     NaN
2    True
3    None
dtype: object

In [27]:
"""
Detecting null value
"""
# isnull(), notnull()
ser = pd.Series([1,np.nan,'hello',None])
print(ser)
ser.isnull()

0        1
1      NaN
2    hello
3     None
dtype: object

0    False
1     True
2    False
3     True
dtype: bool

In [51]:
# dataframe
df = pd.DataFrame([[1.0,np.nan,2],
                  [2.0,3.0,5],
                  [np.nan,4.0,6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [53]:
# dropna() : dropping Null values
ser.dropna()


df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [57]:
# how 매개변수
df[3] = np.nan

df.dropna(how='any') #다 날아감
df.dropna(how='all', axis='columns') #3번열만 삭제

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [59]:
# thresh 매개변수
df.dropna(axis='rows', thresh=4)

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [61]:
"""
Filling Null Values
"""
ser = pd.Series([1,np.nan,2,None,3],index=list('abcde'))
ser.fillna(-9999)

a       1.0
b   -9999.0
c       2.0
d   -9999.0
e       3.0
dtype: float64

In [62]:
# LOCF
ser.fillna(method='ffill')
# NOCB
ser.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64